<%= render 'shared/top_bar' %>
<div class="container overflow-hidden px1">
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-12 px2">
      <h1 class="regular mb0">Banners</h1>
      <p class="gray mt0 py0">Select a banner to make it appear on your site.</p>
      <hr />
      <% if @banners.any? %>
        <% @banners.in_groups_of(3, false).each do |group| %>
          <div class="clearfix mxn2 mt3">
            <% group.each do |banner| %>
              <div class="sm-col sm-col-4 px2">
                <div class="banner p2 <%= banner.current ? 'bg-green white' : '' %> border rounded" data-banner-id="<%= banner.id %>">
                  <h1 class="h2 mt0 regular"><%= banner.title %></h1>
                  <p class="mb0"><%= banner.description %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p class="gray">No current banners. <%= link_to 'Create your first banner', new_banner_path, class: 'ml1' %></p>
      <% end %>
    </div>
  </div>
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-12 px2">
      <h1 class="regular mb0">Style</h1>
      <p class="gray mt0 py0">Select the style you want your banner to appear on your site.</p>
      <hr />
      <div class="clearfix mxn2 mt3">
        <div class="sm-col sm-col-4 px2">
          <div class="banner-style p2 bg-green border rounded">
            <h1 class="h2 mt0 white regular">Top of site</h1>
            <img alt="top of site banner style" class="rounded border" src=<%= image_path('banner-styles/top-banner.png') %> />
          </div>
        </div>
        <div class="sm-col sm-col-4 px2">
          <div class="banner-style p2 border rounded">
            <h1 class="h2 mt0 regular">Center modal</h1>
            <img alt="center modal banner style" class="rounded border" src=<%= image_path('banner-styles/center-modal.png') %> />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
